WCFAPPClient/Connected Services/MyWFCService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TeachService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITeachService_GetServerName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerName" />
  </wsdl:message>
  <wsdl:message name="ITeachService_GetServerName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerNameResponse" />
  </wsdl:message>
  <wsdl:message name="ITeachService_GetServerByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerByName" />
  </wsdl:message>
  <wsdl:message name="ITeachService_GetServerByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="ITeachService">
    <wsdl:operation name="GetServerName">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeachService/GetServerName" message="tns:ITeachService_GetServerName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeachService/GetServerNameResponse" message="tns:ITeachService_GetServerName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServerByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeachService/GetServerByName" message="tns:ITeachService_GetServerByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeachService/GetServerByNameResponse" message="tns:ITeachService_GetServerByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITeachService" type="tns:ITeachService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServerName">
      <soap:operation soapAction="http://tempuri.org/ITeachService/GetServerName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerByName">
      <soap:operation soapAction="http://tempuri.org/ITeachService/GetServerByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TeachService">
    <wsdl:port name="BasicHttpBinding_ITeachService" binding="tns:BasicHttpBinding_ITeachService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/MyFirstWCF/TeachService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>